<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cart.model.BasketDAO" > 

  <select id="SelectProd" parameterType="String" resultType="ProdDTO">
  		select * from tb_product where prod_seq = #{prod_seq} 
  </select>
  <insert id="InsertBasket" parameterType="String">
  		insert into tb_basket (prod_seq) values (#{prod_seq}) 
  		<!-- user_id 도 갖고 가야됨............. -->
  </insert>
  
</mapper>