<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-config.dtd">
  <!-- DOCTYPE : 사용자 정의 태그를 사용할 건지 스키마 결정
  	   dtd : document type definition(dtd 식별자)
   -->
   <!-- 데이터베이스 동적로딩, 서로 다른 파일 연결 정보를 기록 작성하는 구간 -->
<configuration>

	<typeAliases>
	<!-- MessageMapper파일에서 사용할 type들의 별명을 지정해주는 공간 -->
		<typeAlias type="com.cart.model.UserDTO" alias="UserDTO"/>
		<typeAlias type="com.cart.model.VideoDTO" alias="VideoDTO"/>
		<typeAlias type="com.cart.model.BoardDTO" alias="BoardDTO"/>
		<typeAlias type="com.cart.model.ProdDTO" alias="ProdDTO"/>
		<typeAlias type="com.cart.model.VideoRunDTO" alias="VideoRunDTO"/>
		<typeAlias type="com.cart.model.BasketDTO" alias="BasketDTO"/>
		<typeAlias type="com.cart.model.ProductDTO" alias="ProductDTO"/>
		<typeAlias type="com.cart.model.RecyclerDTO" alias="RecyclerDTO"/>
		
	</typeAliases>


<!-- environments : 데이터베이스들을 기술하는 공간 -->
  <environments default="development">
  <!-- environment : 어떤 데이터베이스를 사용할 건지 / 내용 기술하는 공간
  				   : 데이터베이스 한 개를 의미하는 단위
   -->
    <environment id="development">
    <!-- jdbc연결과 관련된 transactionmanager 
    	 type 2가지 
    	 1) JDBC(commit, rollback Mybatis 자체적으로 관리)
    	 2) MANAGED(Server가 관리, tomcat server)
     -->
      <transactionManager type="JDBC"/>
      <!-- 우리가 앞으로 수정하게될 구간!!!!!! dataSource -->
      <!-- 데이터베이스 연결 정보를 기술하는 구간 -->
      <dataSource type="POOLED">
      <!-- ☆★X100만개☆★
      1) UNPOOLED : 요청할 때마다 커넥션 객체를 생성
      2) POOLED : 미리 커넥션 객체를 생성하고 필요할 때 반환해주는 방식
      >>>>>>>> 데이터 베이스 커넥션 풀
       -->
        <property name="driver" value="org.mariadb.jdbc.Driver"/>
        <property name="url" value="jdbc:mariadb://project-db-stu2.ddns.net:3307/smcart"/>
        <property name="username" value="smcart"/>
        <property name="password" value="9999"/>
      </dataSource>
      
    </environment>
    
    
  </environments>
   
  
  <!-- 연결하고 싶은 파일의 명칭 -->
  <!-- mapper파일이 생길때마다 반드시 연결할 수 있도록 기술해줄 것! -->
  <mappers>
    <mapper resource="com/cart/db/UserMapper.xml"/>
    <mapper resource="com/cart/db/VideoMapper.xml"/>
    <mapper resource="com/cart/db/BoardMapper.xml"/>
    <mapper resource="com/cart/db/QrMapper.xml"/>
    <mapper resource="com/cart/db/BasketMapper.xml"/>
    <mapper resource="com/cart/db/VideoRunMapper.xml"/>
    <mapper resource="com/cart/db/ProductMapper.xml"/>
    <mapper resource="com/cart/db/RecyclerMapper.xml"/>
  </mappers>
  
  
  
</configuration>