<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cart.model.ProductDAO" > 

  <select id="selectProd" parameterType="ProductDTO" resultType="ProductDTO">
  		select * from tb_product where prod_seq = #{prod_seq} 
  </select>
  

  
</mapper>