<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cart.model.VideoRunDAO" > 
 
  <select id="isRun" parameterType="VideoRunDTO" resultType="int">
  		select * from tb_video_run;
  </select>
  
  
</mapper>

