<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
  PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
  "https://mybatis.org/dtd/mybatis-3-mapper.dtd">
  
<mapper namespace="com.cart.model.VideoDAO" > 
  
  <select id="selectVideo" parameterType="VideoDTO" resultType="VideoDTO">
  		select * from tb_video order by video_exp desc
  </select>
  
  <select id="selectVideo" parameterType="VideoDTO" resultType="VideoDTO">
  		SELECT * FROM tb_video
  		WHERE ${sort} LIKE CONCAT('%', #{search}, '%')
  </select>
  
</mapper>

